In [49]:
import pandas as pd
import numpy  as np

In [50]:
train_df = pd.read_excel('Data_Train.xlsx')

In [51]:
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [52]:
train_df.shape

(10683, 11)

train_df.info()

In [53]:
train_df.Duration.value_counts()

Duration
2h 50m     550
1h 30m     386
2h 45m     337
2h 55m     337
2h 35m     329
          ...
31h 30m      1
30h 25m      1
42h 5m       1
4h 10m       1
47h 40m      1
Name: count, Length: 368, dtype: int64

In [55]:
train_df.isna().sum()   # or isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [56]:
train_df.dropna(inplace = True)

In [57]:
train_df.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

# EDA

In [58]:
train_df['Journey_Day'] = pd.to_datetime(train_df.Date_of_Journey, format = '%d/%m/%Y').dt.day

In [59]:
# train_df["Date_of_Journey"]= pd.to_datetime(train_df.Date_of_Journey)
train_df['Journey_Month'] = pd.to_datetime(train_df.Date_of_Journey, format = '%d/%m/%Y').dt.month

In [60]:
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3

In [61]:
train_df.drop(['Date_of_Journey'], axis=1, inplace= True)

In [62]:
train_df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3

In [41]:
# Departure time is when the plane leaves the gate

train_df['Dep_Hour'] = pd.to_datetime(train_df.Dep_Time).dt.hour
train_df['Dep_Min'] = pd.to_datetime(train_df.Dep_Time).dt.minute
train_df.drop(['Dep_Time'], axis = 1 , inplace = True)

C:\Users\shnzu\AppData\Local\Temp\ipykernel_1916\3248919296.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  train_df['Dep_Hour'] = pd.to_datetime(train_df.Dep_Time).dt.hour
C:\Users\shnzu\AppData\Local\Temp\ipykernel_1916\3248919296.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  train_df['Dep_Min'] = pd.to_datetime(train_df.Dep_Time).dt.minute

In [43]:
train_df.head()

,Airline,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month,Dep_Hour,Dep_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,13:15,7h 25m,2 stops,No info,7662,1,5,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,04:25 10 Jun,19h,2 stops,No info,13882,9,6,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,23:30,5h 25m,1 stop,No info,6218,12,5,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,21:35,4h 45m,1 stop,No info,13302,1,3,16,50

In [24]:
train_df['Arrival_hour'] = pd.to_datetime(train_df.Arrival_Time).dt.hour
train_df['Arrival_minute'] = pd.to_datetime(train_df.Arrival_Time).dt.minute
train_df.drop(['Arrival_Time'], axis = 1 , inplace = True)

C:\Users\shnzu\AppData\Local\Temp\ipykernel_1916\3054342745.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  train_df['Arrival_hour'] = pd.to_datetime(train_df.Arrival_Time).dt.hour
C:\Users\shnzu\AppData\Local\Temp\ipykernel_1916\3054342745.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  train_df['Arrival_minute'] = pd.to_datetime(train_df.Arrival_Time).dt.minute

In [25]:
train_df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month,Dep_Hour,Dep_Min,Arrival_hour,Arrival_minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,9,6,9,25,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,12,5,18,5,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,1,3,16,50,21,35

In [44]:
# Assigning and converting Duration column into list

duration = list(train_df.Duration)

for i in range(len(duration)):
    if len(duration[i].split()) != 2:
        if 'h' in duration[i]:     #cheak if duration contains only hour or minutes
            duration[i] = duration[i].strip() +" 0m" # adding 0 min
        else:
            duration[i] = "0h " + duration[i]

In [45]:
duration

['2h 50m',
 '7h 25m',
 '19h 0m',
 '5h 25m',
 '4h 45m',
 '2h 25m',
 '15h 30m',
 '21h 5m',
 '25h 30m',
 '7h 50m',
 '13h 15m',
 '2h 35m',
 '2h 15m',
 '12h 10m',
 '2h 35m',
 '26h 35m',
 '4h 30m',
 '22h 35m',
 '23h 0m',
 '20h 35m',
 '5h 10m',
 '15h 20m',
 '2h 50m',
 '2h 55m',
 '13h 20m',
 '15h 10m',
 '5h 45m',
 '5h 55m',
 '2h 50m',
 '2h 15m',
 '2h 15m',
 '13h 25m',
 '2h 50m',
 '22h 0m',
 '5h 30m',
 '10h 25m',
 '5h 15m',
 '2h 30m',
 '6h 15m',
 '11h 55m',
 '11h 5m',
 '8h 30m',
 '22h 5m',
 '2h 45m',
 '12h 0m',
 '2h 50m',
 '2h 50m',
 '2h 15m',
 '16h 5m',
 '19h 55m',
 '3h 15m',
 '25h 20m',
 '2h 50m',
 '3h 0m',
 '2h 50m',
 '16h 15m',
 '15h 5m',
 '2h 15m',
 '6h 30m',
 '25h 5m',
 '12h 25m',
 '27h 20m',
 '10h 15m',
 '10h 30m',
 '2h 15m',
 '10h 25m',
 '2h 50m',
 '1h 30m',
 '13h 20m',
 '2h 15m',
 '1h 25m',
 '26h 30m',
 '7h 20m',
 '13h 30m',
 '5h 0m',
 '2h 45m',
 '2h 50m',
 '1h 30m',
 '19h 5m',
 '2h 15m',
 '14h 50m',
 '2h 40m',
 '22h 10m',
 '9h 35m',
 '10h 0m',
 '21h 20m',
 '5h 25m',
 '18h 45m',
 '12h 20m',
 '18h 0m',
 '9h 15m',
 '11h 5m',
 '17h 30m',
 '13h 20m',
 '2h 35m',
 '2h 25m',
 '2h 40m',
 '3h 0m',
 '1h 25m',
 '16h 35m',
 '12h 20m',
 '12h 15m',
 '7h 30m',
 '24h 0m',
 '2h 45m',
 '8h 55m',
 '7h 10m',
 '14h 30m',
 '30h 20m',
 '19h 55m',
 '15h 0m',
 '2h 55m',
 '12h 45m',
 '10h 10m',
 '5h 55m',
 '15h 25m',
 '16h 5m',
 '10h 10m',
 '2h 40m',
 '11h 55m',
 '2h 40m',
 '1h 25m',
 '14h 5m',
 '20h 15m',
 '2h 25m',
 '23h 10m',
 '18h 10m',
 '16h 0m',
 '2h 50m',
 '2h 20m',
 '8h 0m',
 '16h 55m',
 '3h 10m',
 '2h 45m',
 '14h 0m',
 '23h 50m',
 '21h 40m',
 '21h 15m',
 '2h 45m',
 '10h 50m',
 '8h 0m',
 '8h 15m',
 '5h 25m',
 '8h 35m',
 '11h 50m',
 '27h 35m',
 '8h 25m',
 '20h 55m',
 '4h 50m',
 '8h 10m',
 '2h 20m',
 '24h 25m',
 '2h 50m',
 '12h 20m',
 '12h 15m',
 '23h 35m',
 '16h 35m',
 '2h 50m',
 '25h 45m',
 '26h 10m',
 '28h 50m',
 '2h 45m',
 '25h 15m',
 '9h 20m',
 '4h 30m',
 '15h 25m',
 '1h 30m',
 '2h 40m',
 '9h 10m',
 '2h 45m',
 '22h 35m',
 '3h 5m',
 '11h 30m',
 '9h 30m',
 '12h 10m',
 '17h 35m',
 '5h 5m',
 '25h 50m',
 '20h 0m',
 '13h 0m',
 '18h 25m',
 '1h 30m',
 '9h 30m',
 '16h 0m',
 '2h 20m',
 '4h 30m',
 '5h 45m',
 '24h 10m',
 '2h 35m',
 '2h 45m',
 '4h 55m',
 '25h 35m',
 '6h 20m',
 '3h 5m',
 '18h 40m',
 '2h 15m',
 '12h 10m',
 '19h 25m',
 '2h 50m',
 '8h 25m',
 '9h 15m',
 '2h 50m',
 '3h 15m',
 '2h 50m',
 '12h 20m',
 '2h 55m',
 '9h 35m',
 '2h 35m',
 '9h 30m',
 '29h 20m',
 '2h 55m',
 '5h 15m',
 '9h 5m',
 '10h 45m',
 '4h 55m',
 '1h 30m',
 '11h 40m',
 '2h 45m',
 '2h 55m',
 '10h 0m',
 '2h 45m',
 '10h 15m',
 '1h 25m',
 '9h 15m',
 '22h 55m',
 '28h 50m',
 '37h 25m',
 '2h 50m',
 '1h 30m',
 '1h 30m',
 '25h 40m',
 '2h 35m',
 '6h 15m',
 '17h 30m',
 '5h 45m',
 '2h 35m',
 '25h 30m',
 '13h 55m',
 '2h 55m',
 '10h 15m',
 '8h 40m',
 '5h 30m',
 '12h 0m',
 '2h 15m',
 '2h 15m',
 '2h 50m',
 '9h 10m',
 '10h 25m',
 '2h 20m',
 '4h 30m',
 '3h 10m',
 '23h 30m',
 '27h 20m',
 '12h 35m',
 '24h 15m',
 '1h 20m',
 '2h 45m',
 '3h 0m',
 '11h 0m',
 '13h 30m',
 '2h 50m',
 '2h 55m',
 '2h 45m',
 '11h 15m',
 '14h 35m',
 '13h 55m',
 '14h 5m',
 '15h 5m',
 '2h 15m',
 '15h 0m',
 '12h 55m',
 '9h 0m',
 '12h 15m',
 '7h 40m',
 '27h 20m',
 '1h 25m',
 '1h 20m',
 '5h 30m',
 '11h 45m',
 '3h 15m',
 '24h 55m',
 '27h 20m',
 '2h 55m',
 '17h 5m',
 '2h 40m',
 '8h 0m',
 '3h 0m',
 '27h 35m',
 '7h 30m',
 '22h 55m',
 '8h 35m',
 '29h 55m',
 '22h 15m',
 '1h 20m',
 '2h 40m',
 '3h 0m',
 '12h 10m',
 '2h 35m',
 '11h 45m',
 '2h 35m',
 '1h 30m',
 '2h 40m',
 '2h 35m',
 '22h 55m',
 '14h 40m',
 '15h 25m',
 '7h 15m',
 '20h 10m',
 '20h 45m',
 '2h 30m',
 '23h 50m',
 '27h 0m',
 '5h 30m',
 '11h 50m',
 '2h 15m',
 '24h 30m',
 '2h 20m',
 '6h 30m',
 '20h 25m',
 '2h 35m',
 '2h 55m',
 '5h 35m',
 '2h 30m',
 '14h 45m',
 '12h 20m',
 '25h 30m',
 '5h 35m',
 '11h 45m',
 '2h 55m',
 '5h 40m',
 '4h 5m',
 '8h 0m',
 '2h 45m',
 '2h 40m',
 '2h 55m',
 '15h 55m',
 '23h 10m',
 '7h 20m',
 '2h 50m',
 '7h 30m',
 '3h 0m',
 '7h 45m',
 '25h 20m',
 '10h 25m',
 '30h 20m',
 '2h 35m',
 '9h 0m',
 '15h 10m',
 '28h 20m',
 '3h 0m',
 '2h 45m',
 '4h 55m',
 '2h 40m',
 '22h 10m',
 '10h 10m',
 '2h 50m',
 '4h 20m',
 '11h 0m',
 '3h 0m',
 '22h 35m',
 '3h 5m',
 '2h 40m',
 '2h 50m',
 '21h 5m',
 '11h 50m',
 '25h 35m',
 '15h 25m',
 '2h 25m',
 '3h 40m',
 '2h 55m',
 '3h 10m',
 '11h 50m',
 '2h 50m',
 '2h 50m',
 '1h 30m',
 '11h 30m',
 '8h 50m',
 '20h 15m',
 '20h 10m',
 '16h 5m',
 '12h 35m',
 '17h 5m',
 '3h 0m',
 '15h 30m',
 '11h 30m',
 '2h 20m',
 '23h 45m',
 '1h 30m',
 '2h 35m',
 '24h 45m',
 '21h 35m',
 '5h 30m',
 '12h 15m',
 '8h 5m',
 '5h 0m',
 '2h 50m',
 '6h 25m',
 '2h 20m',
 '2h 45m',
 '12h 45m',
 '15h 50m',
 '27h 0m',
 '26h 25m',
 '2h 55m',
 '24h 50m',
 '8h 40m',
 '25h 45m',
 '2h 50m',
 '6h 15m',
 '10h 30m',
 '26h 0m',
 '17h 5m',
 '21h 20m',
 '5h 35m',
 '2h 50m',
 '25h 50m',
 '12h 10m',
 '17h 5m',
 '8h 30m',
 '23h 5m',
 '9h 20m',
 '7h 55m',
 '1h 30m',
 '2h 50m',
 '2h 15m',
 '10h 0m',
 '2h 35m',
 '7h 45m',
 '2h 55m',
 '26h 20m',
 '2h 40m',
 '11h 0m',
 '19h 25m',
 '2h 55m',
 '2h 45m',
 '23h 15m',
 '9h 0m',
 '3h 10m',
 '6h 25m',
 '8h 40m',
 '2h 50m',
 '12h 20m',
 '5h 20m',
 '4h 0m',
 '9h 45m',
 '2h 55m',
 '26h 20m',
 '2h 15m',
 '9h 45m',
 '24h 55m',
 '11h 55m',
 '8h 20m',
 '17h 25m',
 '2h 50m',
 '7h 5m',
 '21h 15m',
 '5h 0m',
 '2h 25m',
 '5h 15m',
 '15h 10m',
 '11h 45m',
 '3h 0m',
 '4h 55m',
 '2h 45m',
 '2h 30m',
 '9h 45m',
 '2h 40m',
 '6h 30m',
 '5h 30m',
 '2h 40m',
 '34h 5m',
 '15h 25m',
 '9h 30m',
 '6h 5m',
 '2h 40m',
 '5h 50m',
 '2h 45m',
 '27h 20m',
 '3h 0m',
 '5h 15m',
 '16h 0m',
 '7h 0m',
 '8h 40m',
 '9h 0m',
 '2h 20m',
 '2h 20m',
 '6h 20m',
 '4h 25m',
 '2h 20m',
 '11h 5m',
 '16h 55m',
 '13h 45m',
 '25h 45m',
 '13h 55m',
 '5h 15m',
 '19h 15m',
 '7h 30m',
 '9h 0m',
 '24h 0m',
 '18h 10m',
 '2h 55m',
 '1h 30m',
 '21h 20m',
 '6h 15m',
 '14h 30m',
 '1h 20m',
 '12h 55m',
 '2h 25m',
 '22h 30m',
 '22h 55m',
 '5h 25m',
 '1h 25m',
 '7h 15m',
 '12h 20m',
 '20h 10m',
 '21h 15m',
 '2h 15m',
 '10h 30m',
 '14h 5m',
 '2h 50m',
 '16h 25m',
 '5h 15m',
 '13h 50m',
 '2h 15m',
 '7h 15m',
 '27h 5m',
 '27h 35m',
 '5h 0m',
 '2h 50m',
 '2h 50m',
 '15h 20m',
 '5h 20m',
 '10h 10m',
 '27h 35m',
 '9h 35m',
 '28h 10m',
 '14h 0m',
 '2h 35m',
 '2h 55m',
 '2h 35m',
 '4h 40m',
 '2h 30m',
 '11h 15m',
 '7h 55m',
 '8h 50m',
 '1h 25m',
 '15h 40m',
 '2h 35m',
 '2h 55m',
 '13h 25m',
 '4h 35m',
 '18h 30m',
 '2h 15m',
 '38h 15m',
 '3h 5m',
 '25h 50m',
 '3h 10m',
 '2h 50m',
 '11h 30m',
 '6h 35m',
 '27h 35m',
 '2h 35m',
 '7h 30m',
 '3h 15m',
 '9h 35m',
 '12h 30m',
 '11h 20m',
 '3h 0m',
 '2h 35m',
 '1h 30m',
 '26h 10m',
 '4h 55m',
 '2h 45m',
 '8h 40m',
 '7h 5m',
 '2h 45m',
 '24h 50m',
 '2h 20m',
 '11h 0m',
 '9h 0m',
 '2h 55m',
 '3h 5m',
 '2h 35m',
 '13h 0m',
 '1h 25m',
 '7h 35m',
 '2h 40m',
 '12h 55m',
 '29h 20m',
 '5h 0m',
 '8h 40m',
 '3h 0m',
 '3h 0m',
 '2h 45m',
 '12h 10m',
 '2h 20m',
 '7h 55m',
 '29h 35m',
 '26h 55m',
 '12h 45m',
 '7h 35m',
 '2h 30m',
 '11h 45m',
 '23h 40m',
 '13h 50m',
 '12h 50m',
 '9h 50m',
 '2h 30m',
 '21h 55m',
 '26h 10m',
 '2h 55m',
 '20h 15m',
 '20h 10m',
 '10h 55m',
 '2h 30m',
 '21h 10m',
 '2h 35m',
 '20h 40m',
 '2h 50m',
 '6h 30m',
 '30h 0m',
 '13h 10m',
 '2h 55m',
 '18h 0m',
 '8h 0m',
 '8h 45m',
 '12h 30m',
 '13h 20m',
 '6h 10m',
 '7h 30m',
 '19h 15m',
 '2h 35m',
 '12h 0m',
 '3h 0m',
 '2h 50m',
 '1h 25m',
 '23h 5m',
 '2h 50m',
 '22h 5m',
 '2h 15m',
 '5h 45m',
 '2h 50m',
 '9h 30m',
 '8h 55m',
 '17h 45m',
 '2h 50m',
 '21h 45m',
 '12h 35m',
 '1h 30m',
 '2h 15m',
 '3h 55m',
 '2h 45m',
 '7h 30m',
 '17h 20m',
 '1h 30m',
 '1h 30m',
 '30h 30m',
 '5h 0m',
 '11h 15m',
 '2h 50m',
 '19h 5m',
 '6h 35m',
 '7h 30m',
 '2h 15m',
 '2h 45m',
 '12h 45m',
 '2h 50m',
 '26h 35m',
 '12h 55m',
 '1h 30m',
 '8h 40m',
 '14h 0m',
 '23h 30m',
 '29h 55m',
 '22h 10m',
 '4h 50m',
 '2h 45m',
 '13h 30m',
 '13h 20m',
 '2h 20m',
 '11h 55m',
 '5h 10m',
 '11h 45m',
 '13h 50m',
 '3h 0m',
 '6h 10m',
 '2h 20m',
 '10h 45m',
 '2h 15m',
 '2h 55m',
 '1h 30m',
 '7h 35m',
 '26h 35m',
 '4h 45m',
 '21h 25m',
 '8h 35m',
 '8h 30m',
 '2h 15m',
 '12h 40m',
 '8h 25m',
 '25h 40m',
 '2h 45m',
 '29h 20m',
 '2h 40m',
 '2h 50m',
 '2h 20m',
 '7h 15m',
 '20h 15m',
 '11h 45m',
 '2h 35m',
 '13h 30m',
 '1h 30m',
 '24h 35m',
 '20h 35m',
 '2h 50m',
 '4h 35m',
 '2h 20m',
 '11h 45m',
 '1h 30m',
 '12h 50m',
 '24h 30m',
 '11h 30m',
 '4h 0m',
 '11h 0m',
 '5h 25m',
 '2h 35m',
 '5h 10m',
 '10h 10m',
 '26h 55m',
 '7h 15m',
 '8h 10m',
 '2h 55m',
 '5h 15m',
 '2h 20m',
 '1h 25m',
 '4h 50m',
 '2h 20m',
 '2h 20m',
 '13h 15m',
 '19h 10m',
 '22h 40m',
 '14h 50m',
 '15h 10m',
 '7h 5m',
 '1h 25m',
 '2h 55m',
 '8h 0m',
 '2h 45m',
 '14h 55m',
 '1h 30m',
 '16h 15m',
 '2h 50m',
 '5h 0m',
 '22h 15m',
 '5h 30m',
 '8h 35m',
 '15h 25m',
 '21h 0m',
 '13h 30m',
 '2h 50m',
 '6h 45m',
 '1h 30m',
 '8h 40m',
 '1h 30m',
 '2h 50m',
 '2h 35m',
 '16h 5m',
 '23h 50m',
 '27h 5m',
 '16h 15m',
 '15h 25m',
 '2h 50m',
 '8h 35m',
 '13h 50m',
 '2h 40m',
 '2h 25m',
 '3h 10m',
 '2h 55m',
 '28h 40m',
 '2h 50m',
 '2h 35m',
 '9h 40m',
 '16h 40m',
 '6h 20m',
 '27h 0m',
 '14h 35m',
 '12h 10m',
 '7h 35m',
 '2h 20m',
 '19h 10m',
 '20h 0m',
 '3h 0m',
 '5h 10m',
 '2h 40m',
 '29h 35m',
 '4h 55m',
 '3h 0m',
 '12h 30m',
 '12h 35m',
 '26h 20m',
 '13h 15m',
 '2h 50m',
 '12h 45m',
 '16h 20m',
 '2h 40m',
 '8h 15m',
 '12h 0m',
 '2h 50m',
 '11h 0m',
 '2h 20m',
 '13h 50m',
 '8h 10m',
 '12h 10m',
 '2h 40m',
 '2h 45m',
 '2h 50m',
 '24h 0m',
 '3h 0m',
 '12h 35m',
 '25h 50m',
 '2h 55m',
 '17h 5m',
 '29h 20m',
 '8h 55m',
 '3h 5m',
 '9h 0m',
 '10h 25m',
 '16h 45m',
 '2h 45m',
 '26h 20m',
 '13h 15m',
 '10h 30m',
 '7h 35m',
 '11h 0m',
 '2h 50m',
 '25h 45m',
 '6h 25m',
 '1h 25m',
 '20h 10m',
 '11h 55m',
 '2h 50m',
 '5h 0m',
 '27h 0m',
 '2h 50m',
 '1h 15m',
 '10h 15m',
 '24h 50m',
 '2h 50m',
 '20h 0m',
 '5h 30m',
 '2h 45m',
 '6h 55m',
 '2h 45m',
 '5h 15m',
 '6h 15m',
 '2h 50m',
 '19h 25m',
 '2h 55m',
 '11h 25m',
 '14h 5m',
 '2h 45m',
 '3h 15m',
 '14h 20m',
 '12h 30m',
 '5h 20m',
 '26h 20m',
 '3h 5m',
 '1h 30m',
 '7h 5m',
 '6h 10m',
 '8h 0m',
 '12h 5m',
 '12h 55m',
 '9h 35m',
 '15h 10m',
 '11h 40m',
 '2h 55m',
 '4h 30m',
 '2h 40m',
 '2h 30m',
 '24h 10m',
 '28h 20m',
 '1h 25m',
 '10h 10m',
 '11h 30m',
 '2h 50m',
 '13h 45m',
 '6h 25m',
 '12h 55m',
 '4h 25m',
 '13h 30m',
 '24h 5m',
 '16h 5m',
 '8h 20m',
 '3h 40m',
 '9h 30m',
 '28h 15m',
 '13h 20m',
 '17h 50m',
 '20h 20m',
 '28h 5m',
 '15h 25m',
 '12h 5m',
 '10h 20m',
 '12h 25m',
 '7h 35m',
 '2h 50m',
 '4h 35m',
 '11h 15m',
 '2h 35m',
 '26h 0m',
 '2h 25m',
 '2h 35m',
 '14h 15m',
 '2h 35m',
 '22h 5m',
 '6h 35m',
 '8h 30m',
 '18h 45m',
 '35h 15m',
 '2h 15m',
 '2h 30m',
 '2h 20m',
 '2h 30m',
 '7h 35m',
 '35h 35m',
 '26h 30m',
 '11h 30m',
 '26h 40m',
 '3h 0m',
 '1h 30m',
 '2h 55m',
 '14h 15m',
 '16h 55m',
 '12h 20m',
 '29h 35m',
 '20h 20m',
 '8h 25m',
 '13h 50m',
 '10h 0m',
 '19h 25m',
 '28h 0m',
 '2h 50m',
 '17h 20m',
 '2h 45m',
 '2h 55m',
 '13h 25m',
 '12h 55m',
 '9h 45m',
 '21h 25m',
 '15h 40m',
 '2h 20m',
 '14h 25m',
 '2h 50m',
 '6h 35m',
 '22h 10m',
 '14h 25m',
 '2h 30m',
 '23h 35m',
 '13h 5m',
 '1h 30m',
 '5h 5m',
 '1h 20m',
 '22h 55m',
 '1h 30m',
 '2h 35m',
 '37h 20m',
 '2h 50m',
 '2h 50m',
 '36h 10m',
 '9h 15m',
 '1h 25m',
 '5h 5m',
 '2h 15m',
 '15h 10m',
 '25h 55m',
 '5h 40m',
 '7h 30m',
 '17h 45m',
 '2h 20m',
 '8h 15m',
 '3h 40m',
 '5h 55m',
 '2h 30m',
 '17h 30m',
 '13h 50m',
 '2h 15m',
 '21h 35m',
 '9h 30m',
 '8h 40m',
 '10h 25m',
 '35h 5m',
 '14h 15m',
 '3h 0m',
 '25h 50m',
 '2h 30m',
 '8h 40m',
 '10h 0m',
 '11h 30m',
 '7h 30m',
 ...]

In [46]:
duration_hours = []
duration_minutes = []
for i in range(len(duration)):
    duration_hours.append(int(duration[i].split("h")[0])) # extract hours from duration
    duration_minutes.append(int(duration[i].split("m")[0].split()[-1])) # extract only minutes from duration

In [47]:
train_df["Duration_hours"] = duration_hours
train_df["Duration_minutes"] = duration_minutes

In [48]:
train_df.head()

,Airline,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month,Dep_Hour,Dep_Min,Duration_hours,Duration_minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,22,20,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,13:15,7h 25m,2 stops,No info,7662,1,5,5,50,7,25
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,04:25 10 Jun,19h,2 stops,No info,13882,9,6,9,25,19,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,23:30,5h 25m,1 stop,No info,6218,12,5,18,5,5,25
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,21:35,4h 45m,1 stop,No info,13302,1,3,16,50,4,45

In [85]:

train_df.drop(['Duration'], axis = 1 , inplace = True)
train_df

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month,Dep_Hour,Dep_Min,Arrival_hour,Arrival_minute,Duration_hours,Duration_minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,24,3,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info,7662,1,5,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2 stops,No info,13882,9,6,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,1 stop,No info,6218,12,5,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,1 stop,No info,13302,1,3,16,50,21,35,4,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,non-stop,No info,4107,9,4,19,55,22,25,2,30
10679,Air India,Kolkata,Banglore,CCU → BLR,non-stop,No info,4145,27,4,20,45,23,20,2,35
10680,Jet Airways,Banglore,Delhi,BLR → DEL,non-stop,No info,7229,27,4,8,20,11,20,3,0
10681,Vistara,Banglore,New Delhi,BLR → DEL,non-stop,No info,12648,1,3,11,30,14,10,2,40
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,2 stops,No info,11753,9,5,10,55,19,15,8,20

In [87]:
train_df.replace({"non-stop": 0, "1 stop":1, "2 stops":2, "3 stops":3, "4 stops":4}, inplace = True)

In [89]:
train_df.head()

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month,Dep_Hour,Dep_Min,Arrival_hour,Arrival_minute,Duration_hours,Duration_minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,0,No info,3897,24,3,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2,No info,7662,1,5,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2,No info,13882,9,6,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,1,No info,6218,12,5,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,1,No info,13302,1,3,16,50,21,35,4,45

In [92]:
Airline = train_df[["Airline"]]
Airline = (pd.get_dummies(Airline, drop_first = True)).astype(int)
Airline.head()

,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy
0,0,0,1,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0

In [93]:
Source = train_df[['Source']]
Source = (pd.get_dummies(Source, drop_first=True)).astype(int)
Source.head()

   Source_Chennai  Source_Delhi  Source_Kolkata  Source_Mumbai
0               0             0               0              0
1               0             0               1              0
2               0             1               0              0
3               0             0               1              0
4               0             0               0              0